body {
	background-color: #98F5FF;
	width: 500px;
	margin: auto;
	font-family: times, Arial;
}

h1,h2 {
	font-family: Arial;
}


.quotes {
	border-width: 5px;
	border-style: ridge;
	text-align: center;
	
}
	
