		/*
		*********************
		* =Mis.
		*********************
		*/

		a {text-decoration: none;}

		/*
		*********************
		* =body
		*********************
		*/

		body {text-transform: uppercase;}

		.inner {
			width: 830px;
		 	margin: auto;
		}

		.inner_2 {
			width: 830px;
			margin: auto;
			background: blue;
		}

		/*
		*********************
		* =part 1
		*********************
		*/

		/*
		*********************
		* =form
		*********************
		*/

						/*
						*********************
						* =form header
						*********************
						*/ 

						.part_one {
							background: url(../img/form-background_03.jpg);
							height: 239px;
							overflow: hidden;
						}

						.form_header {
							height: 50px;
							width: 830px;
						}

						#form_close {
							float: right;
							overflow: hidden;
							text-align: right;
						}

						#form_contact {
							float: left;
							overflow: hidden;
							text-align: left;
							font-weight: bold;
						}
		#name {
			float: left;
			overflow: hidden;
			margin-left: 0px;
			margin-right: 0px;
			clear: both;
			width: 275px;
		}

		#first_name, #last_name {
			width: 100px;
			height: 30px;
			font-size: 15px;
			float: left:
		}

		#email {
			float: left;
			width: 220px;
			height: 30px;
		}

		.form_second {
			float: left;
			width: 200px;
			height: 124px;
			margin-right: 0px;
		}

		#message {
			height: 120px;
			width: 250px;
		}

		#form_third{
			padding-right: 125px;
			float: right;
			clear: all;
			margin: 0 0 20px 20px;
		}

		#form_third li { margin: 0 0 10px 0; }

		#sudmit { float: left; }

		.contactform ul li:last-child { float: left; }

		/*
		*********************
		* =header top
		*********************
		*/

		.header_top {
			height: 150px;
			margin: 0;
			border-top: solid 5px;
  		background-color:red;
  		background: url(../img/form-background_03.jpg);
		}

		#the_city {
     background: url(../img/city-logo_03.jpg);
     display: block;
     height: 17px;
     width: 53px;
     text-indent: -9999px;
   	}

   #the_city:hover, #the_city:focus {
     background-position: 0 -17px;
		}

		#facebook {
     background: url(../img/Facebook-badge_03.jpg);
     display: block;
     height: 16px;
     width: 16px;
     text-indent: -9999px;
   	}

   #facebook:hover, #facebook:focus {
     background-position: 0 -16px;
		}

		#twitter {
     background: url(../img/twitter-badge_03.jpg);
     display: block;
     height: 17px;
     width: 19px;
     text-indent: -9999px;
   	}

   #twitter:hover, #twitter:focus {
     background-position: 0 -17px;
		}

		#the_city, #facebook, #twitter {
			float: right;
			margin: 2px;
		}


		/*
		*********************
		* =part 2 and logo
		*********************
		*/

		.logo_menu p {
     background: url(../img/logo_03.jpg);
     display: block;
     height: 47.5px;
     width: 331px;
     text-indent: -9999px;
     float: left;
     clear: all;
   	}

   .logo_menu p:hover, .logo_menu p:focus {
     background-position: 0 -47px;
		}

		.part_two {
			background: url(../img/logo_background_03.jpg);
			height : 100px;
		}

		.logo_menu ul li {
			float: left;
			font-size: 15px;
			padding-top: 16px;
			display: inline;
			margin-top: 25px;
		}

		.logo_menu ul li:first-child {padding-left: 40px;}

		.logo_menu ul li a:hover {
			background: #f86767;
			color: white !important;
			border: solid 1px;
			border-color: black;
		}

		.logo_menu ul li a { padding: 6px 12px; }

		.logo_menu ul li { margin-top: 0px; }

		.logo_menu { padding-top: 20px; }

		/*
		*********************
		* =timer
		*********************
		*/

		#timer {
			height: 30px;
			width: 960px;
			clear: both;
		}

		.days {float: left;}

		.watch {float: right;}

		/*
		*********************
		* =part 3 and the black box
		*********************
		*/

		.map {
			float: left;
			clear: both;
			overflow: hidden;
		}

		.location {
			background: url(../img/blackbox_03.jpg);
			color: white;
			width: 300px;
			height: 150px;
			overflow: hidden;
			margin-top: 40px;
			float: left;
		}

		.goright {float: right;}

		.part_three {
			background: url(../img/part-three-bkg_03.jpg);
			height: 265px;
		}

		.part_three .grid_1 {
			margin-left: 0px !important;
			margin-right: 0px !important;
		}
		/*
		*********************
		* =service header
		*********************
		*/

		#work {
			width: 830px;
			margin: auto;
		}

		#work h4 {float: left;}

		#work a {float: right;}

		/*
		*********************
		* =past services
		*********************
		*/

		.yes_services{
			background: url(../img/band-background_03.jpg);
			height: 350px;
		}

		.yes_services ul {background-color: white;}

		#band {
			float: left;
			clear: both;
		}

		.messages a:hover {
			background: #f86767;
			color: white !important;
			background-color: #f86767;
		}

		.messages li a{
			font-size: 13px;
			padding-top: 8px;
			padding-bottom: 8px;
			color: black;
			border-bottom: solid 1px;
			border-color: black;
			width: 470px;
			display: block;
		}

		.messages a {padding: 6px 12px;}

		.messages {
			float: left;
			margin: 10px 0px 10px 0px;
		}

		.messages li {padding-left: 5px;}

		/*
		*********************
		* =part_four
		*********************
		*/
		.part_four {
			clear: both;
			background: url(../img/updates-background_07.jpg);
			overflow: hidden;
		}

		.part_four h2 {
			float: left;
		}

		.part_four .grid_2 {
			float: left;
			padding-top: 7px;
			padding-left: 30px;
			padding-right: 10px;
		}

		.part_four ul li {
			display: inline;
			float: left;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 7px;
		}

		.part_four ul li a{
			padding: 4px;
		}

		.part_four ul li a:hover {
			padding: 4px;
			background: #f86767;
			color: white !important;
			border: solid 1px;
			border-color: black;
		}

		.part_four #more_updates {
			float: right;
			padding-top: 7px;
		}

		.part_four #more_updates a:hover {
			color: red;
		}

				/*
				*********************
				* =part 5
				*********************
				*/

				.part_four_half {
					background: url(../img/updates-background_07.jpg);
				}

				.part_four_half .update1 {
					float: left;
					clear: both;
					margin-top: 20px;
					background: url(../img/update1_03.jpg);
					width: 231px;
					height: 232px;
					position: relative;
				}

				.part_four_half .update1 a {
					padding: 0px;
					font-size: 14px;
					width: 231px;
					height: 182px;
					padding-top: 50px;
					color: white;
					text-align: center;
					text-indent: -9999px;
					position: absolute;
				}

				.part_four_half .update1 a:hover {
					text-indent: 0px;
					background: rgba(0,0,0, .5);
				}

				/*****************************/

				.part_four_half .update2 {
					float: left;
					margin-left: 20px;
					margin-top: 20px;
					background: url(../img/update2_03.jpg);
					width: 232px;
					height: 232px;
					position: relative;
				}

				.part_four_half .update2 a {
					padding: 0px;
					font-size: 14px;
					width: 232px;
					height: 182px;
					padding-top: 50px;
					color: white;
					text-align: center;
					text-indent: -9999px;
					position: absolute;
				}

				.part_four_half .update2 a:hover {
					text-indent: 0px;
					background: rgba(0,0,0, .5);
				}

				/*************************/

				.part_four_half .update3 {
					float: left;
					margin-left: 20px;
					margin-top: 20px;
					background: url(../img/update3_03.jpg);
					width: 232px;
					height: 232px;
					position: relative;
					overflow: hidden;
				}

				.part_four_half .update3 a {
					padding: 0px;
					font-size: 14px;
					width: 232px;
					height: 182px;
					padding-top: 50px;
					color: white;
					text-align: center;
					text-indent: -9999px;
					position: absolute;
				}

				.part_four_half .update3 a:hover {
					text-indent: 0px;
					background: rgba(0,0,0, .5);
				}



						/*
						*********************
						* =part 6
						*********************
						*/

						.part_6 {
							background: url(../img/footerbackground_03.jpg);
							height: 75px;
						}

						.part_6 li {
							float: left;
							display: inline;
							padding-top: 20px;
						}

						.part_6 li:nth-child(n+2) { margin-left: 10px; }

						.part_6 p {
							float: right;
							padding-top: 20px;
						}

		/*
		*********************
		* =drop downs
		*********************
		*/

		.dropdown {
			padding-left: 10px;
		}

		* {
			margin: 0; padding: 0;
		}

		#page-wrap { 
			
			margin: 25px auto; 
		} 

a	{ text-decoration: none; }

ul { list-style: none; }

p { margin: 15px 0; }

/* 
	LEVEL ONE
*/



ul.dropdown li {
 font-weight: bold; 
 float: left;
 zoom: 1;
 background: #ccc; 
}

ul.dropdown a:hover { color: #000; }
ul.dropdown a:active { color: #ffa500; }
ul.dropdown li a {
display: block; 
padding: 4px 8px; 
border-right: 1px solid #333;
color: #222; 
}

ul.dropdown li:last-child a { border-right: none; } /* Doesn't work in IE */

ul.dropdown li.hover,
ul.dropdown li:hover { 
	background: #F3D673; 
	color: black; 
	position: relative; 
}

ul.dropdown li.hover a { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul { 
	width: 220px; 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
}

ul.dropdown ul li { 
	font-weight: normal;
 	background: #f6f6f6; 
 	color: #000; 
	border-bottom: 1px solid #ccc; 
	float: none; 
}
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a	{ 
	border-right: none;
	width: 100%;
	display: inline-block; 
} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul{ 
	left: 100%; 
	top: 0; 
}
ul.dropdown li:hover > ul { visibility: visible; }