		/*
		*********************
		* =Mis.
		*********************
		*/
li {
	list-style: none;
}

label{
	display: block;
}

		/*
		*********************
		* =body
		*********************
		*/

		body {
			text-transform: uppercase;
		}

		.inner {
			width: 830px;
			margin: auto;
		}


		/*
		*********************
		* =form
		*********************
		*/

						/*
						*********************
						* =form header
						*********************
						*/ 

						.part_one {
							background: url(../img/form-background_03.jpg);
							height: 239px;
							overflow: hidden;
						}

						.form_header {
							height: 50px;
							width: 830px;
						}

						#form_close {
							float: right;
							overflow: hidden;
							text-align: right;
						}

						#form_contact {
							float: left;
							overflow: hidden;
							text-align: left;
							text-decoration: bold;
						}
#name {
	float: left;
	overflow: hidden;
	margin-left: 50px;
	margin-right: 30px;
}



#first_name, #last_name {
	width: 100px;
	height: 30px;
	font-size: 15px;
}

#email {
	width: 220px;
	height: 30px;
}

#message {
	float: left;
	overflow: hidden;
	width: 320px;
	height: 124px;
	margin-right: 33px;
}

#form_third {

}



#sudmit {
	float: left;
}


.contactform ul li:last-child {
	float: left;
}

		/*
		*********************
		* =header top
		*********************
		*/

		.header_top {
		height: 150px;
		margin: none;
		border-top: solid 5px;
  	background-color:red;
  	background: url(../img/form-background_03.jpg);
		}

		.icons {
			float:right;
			padding-right: 10px;
		}

		
		/*
		*********************
		* =logo
		*********************
		*/

.part_two {
	background: url(../img/logo_background_03.jpg);
}
.pagelinks {
	float: right;
	font-size: 15px;
	padding-top: 16px;
}

.pagelinks a:hover {
	background: #f86767;
	color: white !important;
	border: solid 1px;
	border-color: black;
}

.pagelinks a {
	padding: 6px 12px;
}


.pagelinks ul li {
	display: inline;
	float: left;
}

.nlc_header {
	font-size: 30px;
	float: left !important;
	margin-right: 5px;
}

.webaddress {
	float: left;
	padding-top: 5px;
	font-size: 25px;
	text-transform: lowercase;

}
a {
	text-decoration: none;
}

.logo {
	overflow:hidden;
	padding-right: 75px;
	float: left;
}
.logo a:hover {
color: red;
}

.days {
	float: left;
}

.watch {
	float: right;
}

.logo_menu {
	height : 100px;
	width: 830px;
}